<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.njupt.zhb.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <!-- 在SDCard中创建与删除文件权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<!-- 往SDCard写入数据权限 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />
 	<uses-feature android:name = "android.hardware.camera" />
	<uses-feature android:name = "android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.zy.main.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zy.main.MainActivity"></activity>
        <activity android:name="com.zy.main.NewsDetailActivity"></activity>
        <activity android:name="com.zy.main.CommentActivity"></activity>
        
    </application>

</manifest>
